body {
    background-color: #302E33;
    color: #E0E0E0;
}

.tournament-card {
    background-color: #3A3541;
    border: none;
    transition: transform 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
}

.tournament-card:hover {
    transform: translateY(-5px);
}

.tournament-card .card-title {
    color: #9575CD;
    font-size: 1.2rem;
}

.tournament-card .card-body {
    padding: 1rem;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    color: #CFD8DC;
    font-size: 0.9rem;
}

.info-item svg {
    margin-right: 0.5rem;
    color: #7E57C2;
}

.badge-custom {
    font-size: 0.8rem;
    padding: 0.35em 0.65em;
    border-radius: 4px;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}


/* Rimozione della sottolineatura dai link */

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}


/* Stile per l'hover sui link, se desiderato */

a:hover {
    color: #9575CD;
}