#navbar {
    background-color: #6d37b8;
}

.nav-link {
    color: #e2e2e2;
}

.nav-link:hover {
    color: #302e33;
}

#logo-navbar {
    width: 250px;
}

#button-search {
    border: 2px solid #433952;
    color: #433952;
}

.rgb-border {
    position: relative;
}

.rgb-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    /* Puoi regolare lo spessore del bordo */
    background: linear-gradient(to right, #ff0000 0%, /* Rosso */
    #ff9a00 10%, /* Arancione */
    #d0de21 20%, /* Giallo-verde */
    #4fdc4a 30%, /* Verde */
    #3fdad8 40%, /* Ciano */
    #2fc9e2 50%, /* Azzurro */
    #1c7fee 60%, /* Blu */
    #5f15f2 70%, /* Indaco */
    #ba0cf8 80%, /* Viola */
    #fb07d9 90%, /* Rosa */
    #ff0000 100%/* Torna al rosso */
    );
    background-size: 200% 100%;
    animation: rgb-animation 5s linear infinite;
}

@keyframes rgb-animation {
    100% {
        background-position: 0% 50%;
    }
    0% {
        background-position: 200% 50%;
    }
}

.rgb-border button {
    color: transparent;
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224, 224, 224)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(224, 224, 224);
}

.profile-settings {
    color: #B0BEC5;
}

.profile-icon {
    width: 50px;
    height: 50px;
    color: #e2e2e2;
    border-color: #e2e2e2;
}

.offcanvas-custom {
    background-color: #302e33;
    color: #e2e2e2;
}